

body {
    background-color: #0D0D0D;
    color: #F0F0F2;
    font-family: roboto;
}
h1 {
    background-color:#732D27 ;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif ;
}
h2 {
    background-color: #D7D7D9;
    color:#0D0D0D;
}
p {
    background-color: #8C2B07;
    font-family: anek odia;
    font-size: 20px ;
}
span {
    font-style: oblique;
    font-weight: bold;
}