h1 {
    border-top: 5px dashed lawngreen;
    border-right:5px dotted brown ;
    border-bottom: 5px solid blue;
    border-left: 5px double red;
}
body {
    border: 6px solid;
}
h2 {
    border: 5px solid black;
    border-radius: 30%;
}