@import url('https://fonts.googleapis.com/css2?family=Reddit+Mono:wght@200..900&display=swap');

body {
    background-color: #233ed99d;
    font-family: Arial, Helvetica, sans-serif;
}
h1, h2 {
    background-color: #bf9004c5;
    color:#6c7fec;
    font-family:Verdana, Geneva, Tahoma, sans-serif ;
    text-shadow: 5px 5px
    5px black;
}
p {
    background-color: #f2cf2269;
    font-family: reddit mono;
   font-size: 120%;
   font-style: oblique;
   color:#131f64;
}